<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>

    <h1>{{message}}</h1>
    <div class="login">
        <table>
            <form action="login" method="post">
                <tr>
                    <td>User Name</td>
                    <td><input type="text" name="username"></td>
                   
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td><button type="submit">Login</button></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>